<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>view</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="index.js"></script>
</head>
<body>
        <header>
            <h1>Viewer</h1>
        </header>

        <main>
            <figure><img src="img/img1.jpg" width="640"></figure>
        
            <ul>
                <li>
                    <a href="img/img1.jpg">
                        <img src="img/thumb1.jpg" width="80">
                    </a>
                </li>
                <li>
                    <a href="img/img2.jpg">
                        <img src="img/thumb2.jpg" width="80">
                    </a>
                </li>
                <li>
                    <a href="img/img3.jpg">
                        <img src="img/thumb3.jpg" width="80">
                    </a>
                </li>
            </ul>
        </main>
    
</body>
</html>